@font-face {
    font-family: plateFont;
    src: url(plateFont.ttf);
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

#outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content{
    position: relative;
    text-align: center;
    margin: 50px 10%;
}

button{
    font-size: 1.5rem;
    border-width: 2px;
    border-style: solid;
    
    padding: 10px;

    margin: 5px;
    border-color: grey;

}

.hidden{
    display: none;
}

#customerMeaning, #verdict, #reviewerComments{
    margin: 20px;
}

#plate_container{
    width: 60%;
    height: 30%;
    margin: auto;
    border: solid black;
    border-radius: 10px;
}

#plate{
    width: 100%;
    z-index: 2;

    font-size: 10vw;
    font-family: "plateFont";

}

@media screen and (max-aspect-ratio: 1/1) {
    #plate {
        font-size: 15vw;
    }

    #plate_container{
        width: 90%;
        height: 45%;
    }
}

#plateImg{
    width: 50%;
    height: auto;
    display: block;
    margin: 2% auto;
    z-index: -1;
    pointer-events: none;
}

#info {
    display: flex;
    justify-content: space-between;
}

#score{
    padding: 10px;
    text-align: left;
    z-index: 10;
} 

#about{
    padding: 10px;
    z-index: 20;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.75;
}


#aboutContent{
    position: fixed;
    color: inherit;

    left: 10%;
    right: 10%;
    border-radius: 5px;

    border-width: 2px;
    border-style: solid;
    border-color: grey;
}

.verdict_wrong {
    color: red;
}

.verdict_correct {
    color: green;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: white;
    }

    a:link, a:visited, a:hover, a:active {
        color: white;
    }

    #plate_container {
        border-color: white;
    }

    #about_icon {
        filter: invert();
    }

    #aboutContent {
        background-color: black;
    }
}